[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pillow = "*"
opencv-python = "*"
scipy = "*"
torch-geometric-temporal = "*"

[requires]
python_version = "3.9"
